ion-view(title="Home")
    ion-nav-buttons(side="left")
        button.button.button-icon.icon.ion-navicon(menu-toggle="left")
    ion-content.has-header
        .provider-cards
            .list.card.provider-card
                .item.item-avatar
                    h2 Mary Lester
                    p R.R.T Pulmonary Disease
                .item.item-image
                    img(src="http://livewiremedical.s3.amazonaws.com/uploads/provider/image/18/thumb_Mary_Lester.jpg")
                a.item.item-icon-left.assertive(href="#")
                    i.icon.ion-music-note
                    | Start listening
            .list.card.provider-card
                .item.item-avatar
                    h2 Mary Lester
                    p R.R.T Pulmonary Disease
                .item.item-image
                    img(src="http://livewiremedical.s3.amazonaws.com/uploads/provider/image/18/thumb_Mary_Lester.jpg")
                a.item.item-icon-left.assertive(href="#")
                    i.icon.ion-music-note
                    | Start listening