ion-view(title="LiveWire Registration")
    ion-nav-bar.bar-positive
        ion-nav-back-button.button-icon.ion-arrow-left-c
    ion-content
        form(name="registrationForm", ng-submit="termsOfService()", novalidate)
            .list
                label.item.item-input.item-stacked-label
                    span.input-label First Name
                    h6.assertive(ng-show!="registrationForm.first_name.$dirty && registrationForm.first_name.$error.required")
                        | First name is required
                    input(type="text", name="first_name", ng-model="user.first_name", placeholder="Isaac", required)
                label.item.item-input.item-stacked-label
                    span.input-label Last Name
                    h6.assertive(ng-show!="registrationForm.last_name.$dirty && registrationForm.last_name.$error.required")
                        | Last name is required
                    input(type="text", name="last_name", ng-model="user.last_name", placeholder="Newton", required)
                label.item.item-input.item-stacked-label
                    span.input-label Email
                    h6.assertive(ng-show!="registrationForm.email.$error.email")
                        | Please enter a valid email
                    input(type="email", name="email", ng-model="user.email", placeholder="isaac@newton.com", required)
                label.item.item-input.item-stacked-label
                    span.input-label Password
                    h6.assertive.password(ng-show!="registrationForm.password.$error.pattern")
                        | Password must have at least:
                        ul
                            li &middot; one lowercase letter
                            li &middot; one uppercase letter
                            li &middot; one digit
                            li &middot; 8 characters
                    input(type="password", name="password", ng-pattern!="passwordPattern", ng-model="user.password", required)
            .padding
                button.button.button-block.button-positive(type="submit", ng-disabled!="registrationForm.$invalid")
                    | Register