ion-view(title="LiveWire Registration")
    ion-nav-bar.bar-positive
        ion-nav-back-button.button-icon.ion-arrow-left-c
    ion-content
        form(name="registrationForm" novalidate)
            .list
                label.item.item-input.item-stacked-label
                    span.input-label First Name
                    input(type="text", ng-model="user.first_name", placeholder="Isaac", required)
                label.item.item-input.item-stacked-label
                    span.input-label Last Name
                    input(type="text", ng-model="user.last_name", placeholder="Newton", required)
                label.item.item-input.item-stacked-label
                    span.input-label Email
                    input(type="email", ng-model="user.email", placeholder="isaac@newton.com", required)
                label.item.item-input.item-stacked-label
                    span.input-label Password
                    input(type="password", ng-model="user.password", required)
            .padding
                button.button.button-block.button-positive(ng-click="termsOfService(user)")
                    | Register