ion-view(title="LiveWire Sign-In")
    ion-nav-bar.bar-positive
        ion-nav-back-button.button-icon.ion-arrow-left-c
    ion-content
        .list
            label(class="item {{authError}} validation-message", ng-show="authError") Incorrect Email/Password
            label(class="item item-input {{authError}}")
                span(class="input-label {{authError}}") Email
                input(type="email", ng-model="user.email", class="{{authError}}")
            label(class="item item-input {{authError}}")
                span(class="input-label {{authError}}") Password
                input(type="password", ng-model="user.password", class="{{authError}}")
        .padding
            button.button.button-block.button-positive(ng-click="signIn(user)")
                | Sign-In

            p.text-center
                a(href="#/register") Create new account