ion-modal-view
    ion-header-bar
        h1.title {{currentProvider.provider.name}}
        .buttons
            button.button.button-clear(ng-click="closeProviderModal()") Close
    ion-content
        .list
            .padding
                .row.provider-actions(ng-show="currentProvider.provider.availability_new")
                    .col
                        button.button.button-outline.button-block.button-energized.icon-left.ion-ios7-videocam-outline(ng-click="showVC()")
                            | Video Call
                .row.provider-actions
                    .col
                        button.button.button-outline.button-block.icon-left.ion-ios7-chatboxes-outline(ng-class="{'button-energized': currentProvider.provider.availability_new}", ng-click="showChat()")
                            | Send Message
            label.item.item-input.item-stacked-label
                span.input-label Provider Organization
                p
                    | {{institutions[currentProvider.provider.institution_id - 1].institution.name}},
                    | {{institutions[currentProvider.provider.institution_id - 1].institution.city}},
                    | {{institutions[currentProvider.provider.institution_id - 1].institution.state}}
            label.item.item-input.item-stacked-label
                span.input-label Medical Specialty
                p {{currentProvider.provider.medical_specialty}}
            label.item.item-input.item-stacked-label
                span.input-label Provider Type
                p {{currentProvider.provider.provider_type || 'None'}}
            label.item.item-input.item-stacked-label
                span.input-label State(s) of license or certification
                p {{currentProvider.provider.states_filing_specialties.join(', ')}}
            label.item.item-input.item-stacked-label
                span.input-label Location
                p {{currentProvider.provider.location}}
            label.item.item-input.item-stacked-label
                span.input-label Hometown
                p {{currentProvider.provider.hometown}}
            label.item.item-input.item-stacked-label
                span.input-label Language(s)
                p {{currentProvider.provider.fluent_languages.join(', ')}}
