ion-modal-view
    ion-header-bar
        h1.title {{currentCustomer.first_name}} {{currentCustomer.last_name}}
        .buttons
            button.button.button-clear(ng-click="closeCustomerModal()") Close
    ion-content
        .list
            .padding
                .row.provider-actions(ng-show="isCustomerOnline(currentCustomer)")
                    .col
                        button.button.button-outline.button-block.button-energized.icon-left.ion-ios7-videocam-outline(ng-click="showVC()")
                            | Video Call
                .row.provider-actions
                    .col
                        button.button.button-outline.button-block.icon-left.ion-ios7-chatboxes-outline(ng-class="{'button-energized': isCustomerOnline(currentCustomer)}", ng-click="showChat()")
                            | Send Message
            label.item.item-input.item-stacked-label
                span.input-label Phone
                p {{currentCustomer.phone_number || '--'}}
            label.item.item-input.item-stacked-label
                span.input-label Street Address
                p {{currentCustomer.street_address || '--'}}
            label.item.item-input.item-stacked-label
                span.input-label City
                p {{currentCustomer.city || '--'}}
            label.item.item-input.item-stacked-label
                span.input-label State
                p {{currentCustomer.state || '--'}}
            label.item.item-input.item-stacked-label
                span.input-label Zip
                p {{currentCustomer.zip_code || '--'}}
