ion-modal-view
    ion-header-bar
        h1.title Filter Patients
        .buttons
            button.button.button-clear(ng-click="filterCustomers(customers)") Done
    ion-content
        .padding
            .list
                .item.item-divider(ng-show="currentFilter === 'firstName'")
                    | First Name
                .list(ng-show="currentFilter === 'firstName'")
                    label.item.item-input
                        input(type="text", placeholder="e.g. Daniel", ng-model="filters.firstName")
                .item.item-divider(ng-show="currentFilter === 'lastName'")
                    | Last Name
                .list(ng-show="currentFilter === 'lastName'")
                    label.item.item-input
                        input(type="text", placeholder="e.g. Inouye", ng-model="filters.lastName")
                .item.item-divider(ng-show="currentFilter === 'dob'")
                    | Date Of Birth
