.livewire-roleselection {
    .scroll {
        height: 100%;
    }

    h2 {
        text-align: center;
        font-weight: 200;
    }

    .center {
        -webkit-align-items: center;
        align-items: center;
        height: 100%;
    }

    .row {
        justify-conent: center;
        -webkit-justify-content: center;
    }

    button {
        border-radius: 30px;
        border: none;
        font-size: 160%;
        margin: 10px;
    }

}

.selectrole-modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
