ion-modal-view.chat-modal
    ion-header-bar.bar-calm
        button.button(ng-click="showVCFromChat()", ng-show="isAgentOnline()") Video Call
        h1.title LiveWire
        .buttons
            button.button.button-clear(ng-click="closeChat()") Close
    chat-container(agent-id="currentProvider ? currentProvider.provider.id : currentCustomer.id")
