ion-modal-view.selectrole-modal
    ion-content.livewire-roleselection
        .row.center
            .col
                .row.row-center
                    h2.calm I am a LiveWire ______.

                .row.row-center.row-responsive
                    button.button.button-calm.col-33(ng-click="selectRole('patient')")
                        | Patient
                    button.button.button-calm.col-33(ng-click="selectRole('provider')")
                        | Provider
