.modal
    ion-header-bar
        h1.title {{currentProvider.provider.name}}
        .buttons
            button.button.button-clear(ng-click="closeProviderModal()") Close
    ion-content
        .list
            label.item.item-input.item-stacked-label
                span.input-label Provider Organization
                p
                    | {{institutions[currentProvider.provider.institution_id - 1].institution.name}},
                    | {{institutions[currentProvider.provider.institution_id - 1].institution.city}},
                    | {{institutions[currentProvider.provider.institution_id - 1].institution.state}}
            label.item.item-input.item-stacked-label
                span.input-label Medical Specialty
                p {{currentProvider.provider.medical_specialty}}
            label.item.item-input.item-stacked-label
                span.input-label Provider Type
                p {{currentProvider.provider.provider_type || 'None'}}
            label.item.item-input.item-stacked-label
                span.input-label State(s) of license or certification
                p {{currentProvider.provider.states_filing_specialties.join(', ')}}
            label.item.item-input.item-stacked-label
                span.input-label Location
                p {{currentProvider.provider.location}}
            label.item.item-input.item-stacked-label
                span.input-label Hometown
                p {{currentProvider.provider.hometown}}
            label.item.item-input.item-stacked-label
                span.input-label Language(s)
                p {{currentProvider.provider.fluent_languages.join(', ')}}
