.modal
    ion-header-bar
        h1.title {{currentProvider.provider.name}}
        .buttons
            button.button.button-clear(ng-click="closeProviderModal()") Close
    ion-content
        .list
            label.item.item-input.item-stacked-label
                span.input-label Provider Organization
                p Placeholder
            label.item.item-input.item-stacked-label
                span.input-label Medical Specialty
                p Placeholder
            label.item.item-input.item-stacked-label
                span.input-label Provider Type
                p Placeholder
            label.item.item-input.item-stacked-label
                span.input-label State(s) of license or certification
                p Placeholder
            label.item.item-input.item-stacked-label
                span.input-label Location
                p Placeholder
            label.item.item-input.item-stacked-label
                span.input-label Hometown
                p Placeholder
            label.item.item-input.item-stacked-label
                span.input-label Language(s)
                p Placeholder
