.modal.vc-modal
    ion-header-bar
        h1.title Video Conferencing
        .buttons
            button.button.button-clear(ng-click="closeVcModal()") Close
    ion-content
        div(ng-controller="VideoCtrl")
            opentok-container(user-id="{{user.id}}", user-name="{{user.first_name}}")
