ion-header-bar.bar.bar-subheader.bar-positive
    h1.title Chat
ion-content.chat-content.has-header.has-subheader.has-footer.has-subfooter(has-header="true", has-subheader="true", has-footer="true", has-subfooter="true", delegate-handle="chatScroll")
    .list
        label.item-input.item-stacked-label(ng-repeat="item in messages[agentId]")
            span.input-label {{item.name}}
            p
                | {{item.message}}
div.chat-controls(keyboard-attach)
    ion-footer-bar.bar.bar-subfooter
        textarea(ng-model="chat.message", placeholder="Enter Message", is-focused="true")
    ion-footer-bar.bar.bar-footer.bar-energized(ng-click="addMessage(chat.message)")
        button.button.button-clear.send-button
            | Send
