.bar.bar-subheader.bar-positive
    h1.title Chat
ion-content
.bar.bar-subfooter
    textarea(ng-model="chat.message")
button.bar.bar-footer.bar-energized(ng-click="addMessage(chat.message)")
    h1.title Send
