ion-header-bar.bar.bar-subheader.bar-positive
    h1.title Chat
ion-content.has-header.has-subheader.has-footer.has-subfooter(has-header="true", has-subheader="true", has-footer="true", has-subfooter="true")
    .list
        label.item-input.item-stacked-label(ng-repeat="item in messages")
            span.input-label {{item.name}}
            p
                | {{item.message}}
ion-footer-bar.bar.bar-subfooter
    textarea(ng-model="chat.message", placeholder="Enter Message", is-focused="true")
ion-footer-bar.bar.bar-footer.bar-energized(ng-click="addMessage(chat.message)", keyboard-attach)
    button.button.button-clear.send-button
        | Send
